* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root {
  --bg-color: #fff;
  --secound-color: #f54300;
  --main-color: #7dd87d;
  --text-color: #130849;
  --other-color: #999fb9;
  --big-font: 4.8rem;
  --h2-font: 3.2rem;
  --p-font: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 25px 18%;
  z-index: 1000;
  transition: all 0.35s ease;
}

.logo img {
  max-width: 100%;
  width: 150px;
  height: auto;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  font-size: var(--p-font);
  color: var(--text-color);
  padding: 10px 28px;
  font-weight: 700;
  transition: all 0.35s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a.active {
  color: var(--main-color);
}

.navbar a.cart {
  font-size: 30px;
}

#menu-icon {
  color: var(--text-color);
  font-size: 40px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.top-btn a {
  display: inline-block;
  background-color: var(--text-color);
  color: #fff;
  padding: 17px 32px;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 700;
}

section {
  padding: 80px 18%;
}

.home {
  height: 90vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-gap: 3rem;
}

.home-text h1 {
  margin: 20px 0 20px;
  font-size: var(--big-font);
  line-height: 1.1;
}

.home-text h3 {
  color: var(--secound-color);
  font-size: 35px;
  font-weight: 600;
}

.home-text p {
  font-size: var(--p-font);
  color: var(--other-color);
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}

.btn {
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;
  padding: 17px 32px;
  border-radius: 30px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  transition: all 0.25s ease;
}

.btn:hover {
  box-shadow: 0px 15px 22px rgb(125 216 125 / 44%);
}

.home-img img {
  width: 100%;
  height: auto;
}

.about {
  background: url(/img/feature.svg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 3rem;
}

.about-img img {
  width: 100%;
  height: auto;
  padding-top: 80px;
}

.about-text h2 {
  margin: 15px 0 15px;
  font-size: var(--h2-font);
  line-height: 1.1;
}

.about-text h3 {
  color: var(--secound-color);
  font-size: 25px;
  font-weight: 600;
}

.about-text p {
  font-size: var(--p-font);
  color: var(--other-color);
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}

header.sticky {
  background-color: #fff;
  padding: 12px 18%;
  box-shadow: 0px 0px 1px #13084982;
}

.center-text {
  text-align: center;
}

.center-text h2 {
  margin: 15px 0px 0px;
  font-size: var(--h2-font);
  line-height: 1.1;
}

.center-text h3 {
  color: var(--secound-color);
  font-size: 35px;
  font-weight: 600;
}

.menu-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.5rem;
  cursor: pointer;
}

.box {
  padding: 15px 50px 15px 50px;
  background-color: var(--bg-color);
  box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
  border-radius: 20px;
  transition: all 0.40s ease;
}

.box-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.box-img img {
  width: 100%;
  height: auto;
}

.box-text h4 {
  color: var(--text-color);
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.box-text p {
  color: var(--other-color);
  font-size: var(--p-font);
  font-weight: 400;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}

.box-text h6 {
  color: var(--secound-color);
  font-size: 20px;
  font-weight: 600;
}

.box:hover {
  transform: scale(1.04) translateY(-5px);
}

.box-btn {
  text-align: center;
  margin-top: 5rem;
}